.centerit3{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-timeline{
    margin-top: 30px;
    margin-bottom: 30px;
}
.VerticalLine{
    opacity:0;
    background: white;
    width:3px;
    height:450px;
    margin-top: 80px;
    transform: translateX(70px);
    z-index:3;
    position:absolute;
}