*{
    margin:0;
    padding:0;
    background-color:#151921;
}
.name{
    color:white;
    height:10vh;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size:30px;
    margin-left:20px;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    padding:10px;
}
.nameOwn{
    font-family: 'Gloria Hallelujah', cursive;
    /* font-style: italic; */
    
}
.Name__list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.college{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
.circle1{
    /* position:fixed;   
    z-index:-1;
    background:linear-gradient(60deg,#0094FF,#97FF57);
    width:600px;
    height:600px;
    border-radius:50%;
    filter:blur(10px);
    position:absolute;
    left:-130px;
    top:-100px; */
}
.content{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 90px;
    font-weight: bold;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-30px) */
    height: 80vh;
}
.connect{
    display: flex;
    justify-content: space-evenly;
    width:20%;
    margin-left: 40%;
}
.icon_connect{
    transform: scale(1.8);
    /* margin-bottom: 40px; */
    margin:40px;
    margin-top:0px;
}
.alpha{
    font-size: 30px;
    padding:1px;
}
.card{
    background-color:none;
    height:450px;
    width:450px;
    margin-left:160px;
    border-radius: 50%;
    
}
/* .aboutme{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.about_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom:30px;
}
.about__description{
    color:white;
    font-size: 2vw;
    font-family: 'IBM Plex Sans', sans-serif;
    width:30%;
    font-weight: bold;
}
.mypic{
    width:30%;
    /* height:30%; */
    border-radius: 50%; 
    /* box-shadow: 4px 4px 4px 4px rgb(126, 126, 126); */
    border:4px solid rgb(126, 126, 126,0.2);
    border: 1px solid white;
}
.mypic:hover{
    cursor:pointer;
    /* box-shadow: 4px 4px 4px 4px rgb(209, 209, 209);
     */
     /* border:1px solid rgb(255, 255, 255); */
     /* box-shadow: 0 0 8px 8px white inset; */
     box-shadow: 0 7px 7px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

/***********************THE NEW ANIMATION STARTS***********************/
.title{
    /* position: relative; */
}
.rotate-words{
    display: inline;
}
.rotate-words span{
    width:max-content;
    position: absolute;
    background-color: rgba(0, 45, 42, 0.992);
    padding-inline:10px;
    /* opacity:0; */
    transform-origin:10% 75%;
    /* animation : animate2 12s linear infinte; */
}

/* @keyframes animate2 {
    5%{
        opacity:1;
    }
    10%,20%{
        opacity: 1;
        transform: rotate(3deg);
    }
    15%{
        transform: rotate(-1deg);
    }
    25%{
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }
}

.rotate-words span:nth-child(1){
    animation:one 4s linear;
    animation-delay:0s;
}
@keyframes one {
    5%{
        opacity:1;
    }
    10%,20%{
        opacity: 1;
        transform: rotate(3deg);
    }
    15%{
        transform: rotate(-1deg);
    }
    25%,100%{
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }
}
.rotate-words span:nth-child(2){
    animation:two 4s linear;
    animation-delay:4s;
}
@keyframes two {
    0%{
        opacity:0;
    }
    5%{
        opacity:1;
    }
    10%,20%{
        opacity: 1;
        transform: rotate(3deg);
    }
    15%{
        transform: rotate(-1deg);
    }
    25%,100%{
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }
}
.rotate-words>span:nth-child(3){
    animation:three 4s linear;
    animation-delay:8s;
}
@keyframes three {
    0%{
        opacity: 0;
    }
    5%{
        opacity:1;
    }
    10%,20%{
        opacity: 1;
        transform: rotate(3deg);
    }
    15%{
        transform: rotate(-1deg);
    }
    25%,100%{
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }
} */
/******************RESPONSIVE********************/

@media only screen and (max-width: 810px) {

        .name{
            font-size:20px;
            display: flex;
            flex-direction: column;
        }
        .college{
            font-size: 10px;
        }
        .content{
            font-size: 10px;
            overflow-x: hidden;
            display: none;
        }
        .connect{
            margin-top: 30px;
        }
        .about_content{
            display: flex;
            flex-direction: column;
            margin:30px;
            /* justify-content: center; */
        }
        .mypic{
            width:50%;
        }
        .about__description{
            font-size: 20px;
            margin-top:30px;
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
}