.Main__top{
    height:100vh;
    background-color: #151921;
}
.animated-paragraph{
    font-size: 100px;
    font-weight: bold;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.animated-paragraph2{
    font-size: 100px;
    font-weight: bold;
    color:white;
    font-family: 'Gloria Hallelujah', cursive;
    /* font-style: italic; */
}
.dot1{
    color: red;
}
.dot2{
    color:rgb(0, 255, 251);
}
.dot3{
    color:yellow
}
.dot4{
    color:rgb(0, 255, 251);
}
.text{
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding-top:340px;

}
@media only screen and (max-width: 810px){
    
}