.centerit2  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;;
    /* width:100%; */
    /* margin-left: 355%; */
}
li{
    color:white;
}
.alpha_skills{
    font-size: 30px;
    padding:1px;
}
.skills_icons{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    width:90%;
    overflow-x: hidden;
    margin-left: 5%;
}
.icon{
    margin:30px;
    width:4.5vw;
}
.icon:hover{
    cursor:pointer;
    animation:html 0.5s ease-in-out;
}
@keyframes html {
    0%{opacity:1;}
    100%{opacity:0.3;}
}

.skill_name{
    font-family: 'Gloria Hallelujah', cursive;

    position:absolute;
    color:white;
    transform: translate(42px,-40px);
    /* background-color: rgb(188, 182, 0); */
    background: none;
    visibility: hidden;
}

.icon:hover{
    
    opacity:0.3;

}
.icon:hover~.skill_name{
    visibility: visible;
    animation:icons 0.5s ease-in-out;
}
@keyframes icons {
    0%{opacity:0;}
    100%{opacity:1;}
}
.js{
    transform: translate(18px,-40px);
}
.ps{
    transform: translate(24px,-40px);
}
.pp{
    transform: translate(14px,-40px);
}

/****************RESPONSIVE SCREEN****************/

@media only screen and (max-width: 810px){
    .icon{
        width:7.5vw;
    }
    .skill_name{
        font-size: 15px;
        transform: translate(30px,-40px);
    }
}